.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: purple;
}

.fas {
    padding-left: 3px;
}

a {
    text-decoration: none;
    color: black;
    display:block;
    background-color: gray;
    padding: 0.1em 1em;
    margin: 1px;
    width: 5em;
    border-radius: 4px;
    text-align: center;
}

a:hover {
    color: white;
}

.nav__container {
    width: 20vw;
    display: flex;
    font-size: 18px;
    padding: 0 0.3em;
    justify-content: center;
    height: 2em;
}

.container__list:hover > ul  {
    visibility: visible;
    opacity: 1;
}

.list__list-item {
    visibility: hidden;
    opacity: 0;
}

.list-item__extension {
    position: relative;

}

.list-item__extension:hover > ol {
    visibility: visible;
    opacity: 1;
}

.extension__extension-list {
    position: absolute;
    left: 100%;
    visibility: hidden;
    margin-top: -1.3em;
    opacity: 0;
}

@media all and (min-width: 1200px) {

    .list__list-item {
        transition: visibility 0s, opacity 0.5s linear;
    }

    .extension__extension-list {
        transition: visibility 0s, opacity 0.5s linear;
    }
}




