.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 14vh;
    background-color: purple;
}

.fas {
    padding-left: 3px;
}

a {
    text-decoration: none;
    color: black;
    display:block;
    background-color: gray;
    padding: 0.1em 1em;
    width: 5em;
    border-radius: 4px;
    text-align: center;
}

a:hover {
    color: white;
}

.nav__container {
    width: 12em;
    display: flex;
    font-size: 18px;
    padding: 0 0.3em;
    justify-content: center;
    height: 2em;
    z-index: 2;
}

.container__list:hover > ul  {
    visibility: visible;
    opacity: 1;
}

.list__list-item {
    visibility: hidden;
    opacity: 0;
}

.list-item__extension {
    position: relative;

}

.list-item__extension:hover > ol {
    visibility: visible;
    opacity: 1;
}

.extension__extension-list {
    position: absolute;
    left: 100%;
    visibility: hidden;
    margin-top: -1.2em;
    opacity: 0;
}

.nav__burger {
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.overlay {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    opacity: 30%;
    z-index: 1;
}

.nav-active {
    transform: translateX(0) !important;
}

.overlay-active {
    visibility: visible;
}

.burger__line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.container__list {
    max-height: 20px;
}

@media all and (max-width: 1200px) {

    .list__list-item {
        transition: visibility 0s, opacity 0.5s linear;
    }

    .extension__extension-list {
        transition: visibility 0s, opacity 0.5s linear;
    }

    .nav__container {
        position: absolute;
        left: 0;
        top: 14vh;
        height: 86vh;
        background-color: purple;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        transition: 500ms ease-in;
    }

    .nav__burger {
        display: block;
    }
}




